* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-div {
}
.Main-Nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.image-container {
  display: flex;
  position: absolute;
  left: 0;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.Main-Category {

}
.Main-Category select {
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  margin-left: -160px;
  cursor: pointer;
}
.Nav-Router {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  margin-left: 40px;
  margin-right: -30px;
}
.Nav-Router ul li{
  list-style: none;

}
.Parent-Signup {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}
.Parent-Signup button {
  border-radius: 5px;
  padding: 13px 25px;
  color: white;
  opacity: 1;
  background-color: rgb(113, 88,226);
}
.bg-photo {
  position: absolute;
  left: 0;
  top:0;
  margin-top: 80px;
  height: 80vh;
  width: 100vw;
  z-index: -1;
}
.bg-photo img {
  width: 100vw;
  height: 70vh;
  z-index: -1;
}
.bg-content {
  width: 100vw;
  min-height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-content {
  background-color: white;
  width: 70%;
  border-radius: 5px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  cursor: pointer;
  margin-bottom: 70px;
}
.category-content button {
  padding:10px 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-child {
  background: linear-gradient(to right, rgb(2, 131, 233), rgb(252, 1, 202));
  color: white;
  border: none;
  border-radius: 5px;
}
.Input-Search {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 50%;
}
.Input-Search input[type='search'] {
  padding: 10px;
}